@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Roboto+Slab:wght@350&display=swap');
* {
    font-family: 'Arvo', serif;
}

.btn_view_play {
    display: flex;
}

.btn_nav_logout {
    margin-left: 10px;
}

::-webkit-input-placeholder {
    color: rgba(192, 188, 196, 0.726);
    opacity: 0.3;
}

:root {
    /* --main-color: #750579; */
    --main-color-light: rgb(167, 167, 167);
    --grey-color: #b6b6b6;
}

.answer {
    border: 2px solid #fff;
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 100%;
}

.no-border {
    border: none;
    outline: none;
}

.container {
    width: 40%;
    background-color: #00bfff;
    margin: auto;
    margin-top: 140px;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    height: 20hx;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

#title {
    border: none;
    outline: none;
    border-bottom: 3px solid rgb(187, 184, 184);
    margin-bottom: 5px;
    width: 100%;
}

.question-score {
    display: flex;
    border: 1px solid darkblue;
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 100%;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#input-question {
    border: none;
    outline: none;
    box-sizing: border-box;
}

.input-question {
    width: 100%;
}

.btns {
    display: flex;
    justify-content: flex-end;
}

.margin-right {
    margin-right: 5px;
}

.sign-up {
    padding: 40px;
}

input {
    background: none;
    border: none;
    outline: none;
}

.answer,
.input_question {
    border-radius: 5px;
    border: 1px solid #e3ebe2;
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-border {
    border: none;
    outline: none;
}

.both_img_login {
    width: 100%;
    display: flex;
}

.image {
    margin-top: 100px;
}

.image img {
    width: 600px;
    height: 450px
}

.answer_1 {
    background: #000;
}

header {
    background-color: #00bfff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 7px 0 black;
}

nav {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
}

nav a {
    background: none;
    border: none;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home_page {
    width: 90%;
    margin: auto;
    height: 50vh;
    font-size: 1.3rem;
    margin-top: 150px;
    border-radius: 10px;
    background-image: url(../images/add_question.png);
    background-repeat: no-repeat;
    background-position: 20% 40%;
    background-position: right center;
    background-size: contain;
}

.main_container p {
    font-size: 1.5rem;
}

.form_add_question {
    width: 70%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 0 10px 0 black;
    margin: 0 auto;
}

.score input {
    border: 2px solid #00bfff;
}

.input_answer,
.input_question {
    margin-top: 1%;
}

.input_question {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* background: none; */
}

.input_answer {
    width: 60%;
    margin: auto;
    padding: 15px;
}

input[type='text'] {
    /* background: none; */
    border: none;
    color: #000;
}

input[type='radio'] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.5px;
    height: 15.5px;
}

input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
}

.container2 {
    display: none;
    width: 40%;
    margin: auto;
    margin-top: 140px;
}

.main_container1 {
    border: 2px solid #00bfff;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 0 4px 0 #000;
}

.question_and_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.question_and_button .btn_edit i {
    color: #00bfff;
    font-size: 1.9rem;
}

.question_and_button .btn_delete i {
    color: red;
    font-size: 1.9rem;
}

.question_and_button .button {
    display: flex;
}

.question_and_button .button p {
    margin-top: 20px;
    margin-left: 10px;
}

.answer_1,
.answer_2,
.answer_3,
.answer_4 {
    color: #ffff;
    padding: 10px;
    margin: 7px;
}

.container2 .main_container1 .button button {
    border: none;
    background: none;
}

.container2 .btn_back {
    width: 35%;
}

.modal-header {
    font-size: 1.2rem;
    color: #fff;
    background: #00bfff;
}

.btn_add_play {
    width: 100%;
}

.btn_add,
.btn_play,
.btn_cancel {
    width: 25%;
    margin: 5px;
    padding: 7px;
    background: #00bfff;
    color: #fff;
    border-radius: 7px;
    font-size: 1.2rem;
}

.home_page .btn_add_play {
    width: 50%;
    display: flex;
    font-size: 1.2rem;
    /* margin-left: 25%; */
}

.btn_cancel {
    width: 25%;
    margin: 5px;
    padding: 7px;
    background: red;
    color: #fff;
    border-radius: 7px;
    font-size: 1.2rem;
}

.btn_add a {
    text-decoration: none;
    color: #fff;
}

.btn_play a {
    text-decoration: none;
    color: #fff;
}

.btn_play:hover {
    border: 1px solid #00bfff;
    background: #fff;
    color: #00bfff;
}

.btn_add:hover {
    border: 1px solid #00bfff;
    color: #00bfff;
    background: #fff;
}

.btn_cancel:hover {
    border: 1px solid #00bfff;
    color: red;
    background: #fff;
}

.btn_add,
.btn_play,
.btn_cancel {
    border: none;
}

nav .btn_view_play button {
    border: none;
    background: none;
    color: #fff;
}

::placeholder {
    display: flex;
    justify-content: center;
    color: #000
}


/* play view */

.container3 {
    display: none;
    overflow: hidden;
}

#play_view {
    background-image: url(../images/4832858.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#start {
    background-color: #00bfff;
    border-radius: 20px;
    padding: 20px;
    font-size: 300%;
    cursor: pointer;
    color: #fff;
}

#start:hover {
    background: #fff;
    border: 2px solid #00bfff;
    color: #000;
}

#quiz {
    width: 35%;
    border-radius: 7px;
    background-color: #ffff;
    padding: 10px;
}

#score {
    display: flex;
    justify-content: center;
    align-items: center;
}

#question {
    display: flex;
    justify-content: center;
    align-items: center;
}

#quiz button {
    padding: 10px;
    border-radius: 7px;
    background: #00bfff;
    color: #ffff;
}

#choices {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}

#score_display {
    width: 25%;
    margin: auto;
    border-radius: 7px;
    background: #fff;
    box-shadow: 0 0 4px 0 #000;
}

#score_p {
    text-align: center;
}

#score_p {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#progress {
    width: 100%;
}

.view_list_question {
    width: 40%;
    margin: auto;
    margin-top: 140px;
}


/* container4 */

.container_4 {
    display: none;
    margin-top: 120px;
}

.main_container_4 {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 0 #000;
}

.main_container_4 h4 {
    width: 40%;
}

.correct_answer {
    overflow: initial;
    width: 50%;
    padding: 10px;
    height: 70vh;
    background: #00bfff;
    color: rgb(255, 255, 255);
}

.incorrect_answer {
    width: 50%;
    padding: 10px;
    height: 70vh;
    background: red;
    color: #fff;
}

.show_good_answers {
    margin: 5%;
    margin-left: 30%;
    padding: 10px;
    color: #ffff;
    background: #00bfff;
    box-shadow: 0 0 4px 0 #000;
}

.show_good_answers:hover {
    background: #fff;
    color: #000;
    border: 2px solid #00bfff;
}